
.form {
    display: flex;

    .form--container {
        flex: 6;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        justify-content: center;


        .form--item {
            display: flex;

            label {
                flex: 1;
                font-weight: bold;
            }
        }
        

    }
}