
.datatable {
    height: 400px;
    width: auto;
    margin: 30px;
    font-family: 'Hind', sans-serif;
}

.MuiDataGrid-cell {
    border-bottom: none !important;
    margin-bottom: 5px !important;
}

.withImg {
    display: flex;
    align-items: center;

    .rowImg {
        width: 3.5em;
        height: 100%;
        margin-right: 5px;

        &.profile {
            border-radius: 50%;
        }
    }

    .rowTxt {
        white-space: break-spaces;
        margin-left: 5px;
    }

    .product--name {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
}

.rowDesc {
    height: 100%;
    width: 100%;
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;

    &:hover, &:active, &:focus {
        white-space: break-spaces;
        overflow-y: auto;
    }

    .rowDesc--txt {
        font-size: 0.9em;
        padding: 2px;
    }
}

